<nav class="bg-background border-b border-border">
  <div class="container mx-auto flex items-center justify-between py-5">

    <a routerLink="/" class="text-2xl font-heading font-semibold">
      Myntra <span class="text-primary">Circle</span>
    </a>

    <div class="hidden md:flex items-center gap-10">

      <a routerLink="/" class="hover:text-primary transition">
        Home
      </a>

      <a routerLink="/creator" class="hover:text-primary transition">
        Creator Rooms
      </a>

      <a routerLink="/dashboard" class="hover:text-primary transition">
        Your Circle
      </a>

    </div>

    <button class="primary-btn">
      Start a Style Session
    </button>

  </div>
</nav>